<div class="uk-container" uk-grid>
  <div class="uk-width-expand">
    <div class="uk-card uk-card-small uk-card-hover uk-card-default uk-width-2xlarge">
      <div class="uk-card-title">{{title}}</div>
      <div class="uk-card-body">{{post_content}}</div>
      <ul uk-accordion>
        <li>
          <a class="uk-accordion-title" href="#">Comments</a>
          <div class="uk-accordion-content">
            {{#each comments as |comment|}}
              <p>{{comment.comment_text}}</p>
              <br />
            {{else}}
              <p>No comments yet</p>
            {{/each}}</div>
        </li>
      </ul>
    </div>
  </div>
</div>

{{!-- {{#each comments as |comment|}}
  <p>{{comment.comment_text}}</p>
  <br />
{{else}}
  <p>No comments yet</p>
{{/each}} --}}