<div class="uk-container" uk-grid>
  <div class="uk-width-expand">
    <div class="uk-card uk-card-small uk-card-hover uk-card-default uk-width-2xlarge">
      <div class="uk-card-title uk-flex uk-flex-between">{{title}}
        <button
          class="uk-button uk-button-primary uk-margin-small-right"
          type="button"
          uk-toggle="target: #modal-example-{{id}}"
        >Edit Post</button>
      </div>

      <div class="uk-card-body">{{post_content}}</div>
      <ul uk-accordion>
        <li>
          <a class="uk-accordion-title" href="#">Comments</a>
          <div class="uk-accordion-content">
            {{#each comments as |comment|}}
              <p>{{comment.comment_text}}</p>
              <br />
            {{else}}
              <p>No comments yet</p>
            {{/each}}</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- This is an anchor toggling the modal -->
{{! <a href="#modal-example" class="uk-hidden" uk-toggle>Open</a> }}

<!-- This is the modal -->
<div id="modal-example-{{id}}" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title" id="post-data" data-post-id="{{id}}"> Post being edited: {{title}}</h2>
    <form class="uk-form-stacked postEdit">
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Title</label>
        <div class="uk-form-controls">
          <input
            class="uk-input title-edit"
            id="form-stacked-text"
            type="text"
            placeholder="Title"
          />
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Post</label>
        <div class="uk-form-controls">
          <textarea
            class="uk-textarea userpost-edit"
            id="form-stacked-text"
            rows="5"
            placeholder="Post"
          ></textarea>
        </div>
      </div>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
      <button class="uk-button uk-button-primary" type="submit">Save</button>
    </p>
  </div>
</div>

<script src="./js/userpage.js" defer></script>