<div class="uk-container" uk-grid>
  <div class="uk-width-expand uk-margin">
    <div
      class="uk-card uk-card-small uk-padding uk-card-hover uk-card-default uk-width-2xlarge post-Card"
    >
      <div class="uk-card-title uk-flex uk-flex-between post-Title">{{title}}
      </div>

      <div class="uk-card-body">{{post_content}}</div>
      <ul uk-accordion>
        <li>
          <a class="uk-accordion-title" href="#">Edit Post</a>
          <div class="uk-accordion-content">
            <form class="uk-form-stacked postEdit" data-post-id="{{id}}">
              <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Title</label>
                <div class="uk-form-controls">
                  <input
                    class="uk-input title-edit"
                    id="form-stacked-text"
                    type="text"
                    placeholder="Title"
                  />
                </div>
              </div>
              <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Post</label>
                <div class="uk-form-controls">
                  <textarea
                    class="uk-textarea userpost-edit"
                    id="form-stacked-text"
                    rows="5"
                    placeholder="Post"
                  ></textarea>
                </div>
              </div>
              <p class="uk-text-right">
                <button
                  class="uk-button uk-button-default uk-modal-close"
                  type="button"
                >Cancel</button>
                <button class="uk-button uk-button-primary" type="submit">Save</button>
              </p>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- This is the modal -->
{{!-- <div id="modal-example-{{id}}" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title" id="post-data" data-post-id="{{id}}">
      Post being edited:
      {{title}}</h2>
    <form class="uk-form-stacked postEdit">
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Title</label>
        <div class="uk-form-controls">
          <input
            class="uk-input title-edit"
            id="form-stacked-text"
            type="text"
            placeholder="Title"
          />
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Post</label>
        <div class="uk-form-controls">
          <textarea
            class="uk-textarea userpost-edit"
            id="form-stacked-text"
            rows="5"
            placeholder="Post"
          ></textarea>
        </div>
      </div>
      <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        <button class="uk-button uk-button-primary" type="submit">Save</button>
      </p>
    </form>
  </div>
</div> --}}

<script src="./js/userpage.js" defer></script>