<div class="uk-container">
    <section class="uk-section uk-flex uk-flex-column uk-flex-center">
        <div class="uk-width-expand">
            <div class="uk-card uk-card-small uk-card-hover uk-card-default uk-width-2xlarge uk-padding current-Post"
                data-post-id="{{posts.id}}">
                <div class="uk-card-title">{{posts.title}}</div>
                <div class="uk-card-body">{{posts.post_content}}</div>
                <ul uk-accordion>
                    <li>
                        <a class="uk-accordion-title" href="#">Comments</a>
                        <div class="uk-accordion-content">

                            <form class="uk-form-stacked newComment comment-form">
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-text">Comment</label>
                                    <div class="uk-form-controls">
                                        <textarea class="uk-textarea userComment" id="form-stacked-text" rows="3"
                                            placeholder="Comment"></textarea>
                                    </div>
                                    <p class="uk-text-right">
                                        <button class="uk-button uk-button-primary" type="submit">
                                            Submit
                                        </button>
                                </div>
                            </form>

                            {{#each posts.comments as |comment|}}
                            <article class="uk-comment" role="comment">
                                <header class="uk-comment-header">
                                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                        <div class="uk-width-expand">
                                            {{log comment.user.username}}
                                            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset"
                                                    href="#">{{comment.user.username}}</a></h4>
                                            <ul
                                                class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                                <li><a href="#">12 days ago</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </header>
                                <div class="uk-comment-body">
                                    <p>{{comment.comment_text}}</p>
                                </div>
                            </article>

                            <br />
                            {{else}}
                            <p>No comments yet</p>
                            {{/each}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</div>

<script src="/js/postComment.js"></script>